<header class="page-header">
  <div class="cross-posted-to-medium">
    <a class="btn btn-default">
      <i class="fa fa-medium"></i> Cross-posted to Medium
    </a>
  </div>
  <div class="header-image-bg">
    <div class="post-header">
      <div class="post-header-content">
        <h1 class="post-title">How Parse.com should build APIs</h1>
        
          <h4 class="post-subtitle"></h4>
        
        <h4 class="post-date"><small><time class="timeago" datetime="19 June 2015" pubdate>19 June 2015</time></small></h4>
      </div>
    </div>
  </div>
</header>

<div class="post-content">
  <p>or <em>Keeping your sanity at your tech startup, preventing complete rewrites and winning big</em></p>
<p>or <em>Building Web APIs with Purely Functional Programming</em></p>
<ul>
<li>PFP = Purely Functional Programming</li>
<li>easiest to do in Haskell</li>
</ul>
<p>This article was prompted by reading <a href="http://blog.parse.com/learn/how-we-moved-our-api-from-ruby-to-go-and-saved-our-sanity/">How we moved our API from Ruby to Go and saved our sanity</a>.</p>
<blockquote>
<p>And literally nobody at all on our backend or ops teams wanted to deal with deploying and tuning the JVM.</p>
</blockquote>
<p>Perhaps unfounded fear from an ops team that wasn’t familiar with the JVM.</p>
<blockquote>
<p>C# was a strong contender. It arguably had the best concurrency model with Async and Await.</p>
</blockquote>
<p>You can make the argument that C# has the best concurrency model but many would beg to differ.</p>
<blockquote>
<p>Go and C# both have asynchronous operation built into the language at a low level, making it easy for large groups of people to write asynchronous code. The MongoDB Go driver is probably the best MongoDB driver in existence, and complex interaction with MongoDB is core to Parse. Goroutines were much more lightweight than threads. And frankly we were most excited about writing Go code. We thought it would be a lot easier to recruit great engineers to write Go code than any of the other solid async languages.</p>
</blockquote>
<p>Read: we wanted to use Go.</p>
<blockquote>
<p>We started out rewriting our EventMachine push backend from Ruby to Go. We did some preliminary benchmarking with Go concurrency and found that each network connection ate up only 4kb of RAM. After rewriting the EventMachine push backend to Go we went from 250k connections per node to 1.5 million connections per node without even touching things like kernel tuning. Plus it seemed really fun. So, Go it was.</p>
</blockquote>
<p>They rewrote their “push” code in Go.</p>
<ul>
<li>how much memory does a network connection in Glorious hold?</li>
</ul>
<blockquote>
<p>The hardest part of the rewrite was dealing with all the undocumented behaviors and magical mystery bits that you get with Rails middleware. Parse exposes a REST API, and Rails HTTP processing is built on a philosophy of “be liberal in what you accept”. So developers end up inadvertently sending API requests that are undocumented or even non-RFC compliant … but Rails middleware cleans them up and handles it fine.</p>
<p>So we had to port a lot of delightful behavior from the Ruby API to the Go API, to make sure we kept handling the weird requests that Rails handled. Stuff like doubly encoded URLs, weird content-length requirements, bodies in HTTP requests that shouldn’t have bodies, horrible oauth misuse, horrible mis-encoded Unicode.</p>
</blockquote>
<p>We really want to avoid every building things with Rails so that folks use our APIs correct and we can avoid having to make things backwardly compatible with the undocumented Rails behaviours.</p>
<blockquote>
<p>Was the rewrite worth it? Hell yes it was. Our reliability improved by an order of magnitude. More importantly, our API is not getting more and more fragile as we spin up more databases and backing services. Our codebase got cleaned up and we got rid of a ton of magical gems and implicit assumptions. Co-tenancy issues improved for customers across the board. Our ops team stopped getting massively burned out from getting paged and trying to track down and manually remediate Ruby API outages multiple times a week. And needless to say, our customers were happier too.&quot;</p>
</blockquote>
<ul>
<li>Could be that the ops team liked to be busy support Ruby apps. Maybe that’s why they were so down on the JVM.</li>
</ul>
<blockquote>
<p>We now almost never have reliability-impacting events that can be tracked back to the API layer – a massive shift from a year ago. Now when we have timeouts or errors, it’s usually constrained to a single app – because one app is issuing a very inefficient query that causes timeouts or full table scans for their app, or it’s a database-related co-tenancy problem that we can resolve by automatically rebalancing or filtering bad actors.&quot;</p>
</blockquote>
<p>What does it mean?</p>
<h2 id="faster-builds-tests-and-deploys">Faster builds, tests and deploys</h2>
<blockquote>
<p>As if that weren’t enough, the time it takes to run our full integration test suite dropped from 25 minutes to 2 minutes, and the time to do a full API server deploy with rolling restarts dropped from 30 minutes to 3 minutes. The go API server restarts gracefully so no load balancer juggling and prewarming is necessary.</p>
</blockquote>
<ul>
<li>Let’s see if we can get Glorious stuff this fast with Nix/Halcyon/Stack.</li>
</ul>
</div>

<div class="post-footer">
  
  <div class="post-footer-row">
    <div class="tags">
      <i class="fa fa-tags"></i> <a href="/tags/web/index.html">Web</a>
    </div>
  </div>
  <div class="clear"></div>
  

  <div class="post-footer-row">
    <div class="post-nav">
      
      
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- <div id="disqus_thread" class="post-aside comments hidden-phone"></div> -->
<div id="disqus_thread" class="post-aside comments"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'steshaw'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
