<header class="page-header">
  <div class="cross-posted-to-medium">
    <a class="btn btn-default">
      <i class="fa fa-medium"></i> Cross-posted to Medium
    </a>
  </div>
  <div class="header-image-bg">
    <div class="post-header">
      <div class="post-header-content">
        <h1 class="post-title">Deploying your Hakyll site with Halcyon</h1>
        
          <h4 class="post-subtitle"></h4>
        
        <h4 class="post-date"><small><time class="timeago" datetime=" 1 May 2015" pubdate> 1 May 2015</time></small></h4>
      </div>
    </div>
  </div>
</header>

<div class="post-content">
  <p><em>Draft</em></p>
<ul>
<li><p>Do not use the CircleCI caching system as it is slower than just using Halcyon.</p></li>
<li><p>Set up a private S3 bucket.</p></li>
<li><p>Local builds.</p></li>
<li><p>Ensure you use the magic files if required.</p>
<ul>
<li>I needed alex and happy.</li>
</ul></li>
</ul>
<h2 id="references">References</h2>
<ul>
<li><a href="https://github.com/steshaw/steshaw.org" class="uri">https://github.com/steshaw/steshaw.org</a></li>
<li><a href="https://halcyon.sh/" class="uri">https://halcyon.sh/</a>
<ul>
<li><a href="https://halcyon.sh/tutorial/" class="uri">https://halcyon.sh/tutorial/</a></li>
<li><a href="https://halcyon.sh/reference/" class="uri">https://halcyon.sh/reference/</a></li>
<li><a href="https://github.com/mietek/halcyon" class="uri">https://github.com/mietek/halcyon</a></li>
</ul></li>
<li><a href="https://robots.thoughtbot.com/building-haskell-projects-with-halcyon" class="uri">https://robots.thoughtbot.com/building-haskell-projects-with-halcyon</a>
<ul>
<li><a href="https://github.com/thoughtbot/carnival" class="uri">https://github.com/thoughtbot/carnival</a>
<ul>
<li><a href="https://github.com/thoughtbot/carnival/blob/master/circle.yml" class="uri">https://github.com/thoughtbot/carnival/blob/master/circle.yml</a></li>
<li><a href="https://github.com/thoughtbot/carnival/blob/master/bin/halcyon-build" class="uri">https://github.com/thoughtbot/carnival/blob/master/bin/halcyon-build</a></li>
</ul></li>
</ul></li>
</ul>
</div>

<div class="post-footer">
  
  <div class="post-footer-row">
    <div class="tags">
      <i class="fa fa-tags"></i> 
    </div>
  </div>
  <div class="clear"></div>
  

  <div class="post-footer-row">
    <div class="post-nav">
      
      
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- <div id="disqus_thread" class="post-aside comments hidden-phone"></div> -->
<div id="disqus_thread" class="post-aside comments"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'steshaw'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
