<header class="page-header">
  <div class="cross-posted-to-medium">
    <a class="btn btn-default">
      <i class="fa fa-medium"></i> Cross-posted to Medium
    </a>
  </div>
  <div class="header-image-bg">
    <div class="post-header">
      <div class="post-header-content">
        <h1 class="post-title">Software Foundations on Spacemacs</h1>
        
          <h4 class="post-subtitle"></h4>
        
        <h4 class="post-date"><small><time class="timeago" datetime="20 August 2017" pubdate>20 August 2017</time></small></h4>
      </div>
    </div>
  </div>
</header>

<div class="post-content">
  <h2 id="install-coq">Install Coq</h2>
<pre class="shell-session"><code>$ brew install coq</code></pre>
<h2 id="install-proof-general">Install Proof General</h2>
<ul>
<li>https://proofgeneral.github.io/</li>
<li>https://github.com/ProofGeneral/PG</li>
</ul>
<pre class="shell-session"><code>$ cd ~/.emacs.d/private/local
$ git clone git@github.com:ProofGeneral/PG.git
$ cd PG
$ make</code></pre>
<p>Executing <code>make</code> here caused issues for me. I’m using emacs-mac version of emacs on macOS.</p>
<h2 id="install-coq-layer">Install Coq layer</h2>
<ul>
<li>https://github.com/olivierverdier/spacemacs-coq</li>
<li>https://github.com/mbrcknl/spacemacs-coq</li>
</ul>
<p>This will bring in the company-coq package too.</p>
<p>https://github.com/cpitclaudel/company-coq</p>
</div>

<div class="post-footer">
  
  <div class="post-footer-row">
    <div class="tags">
      <i class="fa fa-tags"></i> 
    </div>
  </div>
  <div class="clear"></div>
  

  <div class="post-footer-row">
    <div class="post-nav">
      
      
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- <div id="disqus_thread" class="post-aside comments hidden-phone"></div> -->
<div id="disqus_thread" class="post-aside comments"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'steshaw'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
